<div class="card w-25" style="margin-bottom:15px">
    <div class="card-header font-weight-bold">Child content</div>
    <div class="card-body">@ChildContent</div>
</div>

@code {
    [Parameter]
    //The property receiving the RenderFragment content must be named ChildContent by convention.
    public RenderFragment ChildContent { get; set; }
}